#{extends 'main.html' /}
#{set title:'tp_jeux | Accueil' /}

<a href="@{Checkins.ajout}">Ajouter un checkin</a>

<h3>Ajouter un checkin</h3>

<div id="checkin" class="troisCentTrentePx center">
	<form action="@{Application.checkin}" method="POST">
		<div>
			<div class="ligne">
				<label>Latitude :</label>
				<input class="input-text" type="text" name="coordonneeLatitude" />
			</div>
			<div class="ligne">
				<label>Longitude :</label>
				<input class="input-text" type="text" name="coordonneeLongitude" /> 
			</div>
		</div>	
		<div class="droite troisCentTrentePx">
			<input type="submit" name="go" />
		</div>
		<div class="clearer"></div>
	</form>
</div>

#{if checkins}
	<h3>Liste des checkins</h3>
	<table id="checkins">
		<thead>
			<tr>
				<th>Zone</th>
				<th>Ressource</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			#{list items : checkins, as : 'checkin' }
				<tr>
					<td>
						<span>X : (${checkin.zone.minX} ${checkin.zone.maxX})</span>
						<span>Y : (${checkin.zone.minY} ${checkin.zone.maxY})</span>
					</td>
					<td>${checkin.zone.ressource}</td>
					<td>${checkin.date}</td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}

