#{extends 'main.html' /}
#{set title:'tp_jeux | Accueil' /}


<h3>Ajouter un checkin</h3>

<div id="checkin" class="troisCentTrentePx center">
	<form action="@{Application.checkin}" method="POST">
		<div>
			<div class="ligne">
				<label>Latitude :</label>
				<input class="input-text" type="text" name="topLatitude" />
			</div>
			<div class="ligne">
				<label>Longitude :</label>
				<input class="input-text" type="text" name="topLongitude" /> 
			</div>
		</div>	
		<div class="droite troisCentTrentePx">
			<input type="submit" name="go" />
		</div>
		<div class="clearer"></div>
	</form>
</div>

#{if checkins}
<table id="checkins">
	<tbody>
		#{list items : checkins, as : 'checkin' }
			<tr>
				<td>${checkin.date}</td>
			</tr>
		#{/list}
	</tbody>
</table>
#{/if}

